<form action="/URLs">
<form class="row row-cols-lg-auto g-3 align-items-center mb-2" id="url-form">
  <div class="col-12">
    <input type="text" name="originalURL" class="form-control" id="url-input" placeholder="input URL here" />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" id="shorten-submit-button">
      Go Shortening
    </button>
  </div>
  <h5> Here is the shorten URL</h5>
  <h5> {{baseURL}}{{randomURL}} </h5>
</form>
</form>